<form method="post" action="{{ path('app_adresse_repere_delete', {'id': adresse_repere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse_repere.id) }}">
    <button class="btn">Delete</button>
</form>
