{% extends 'base.html.twig' %}

{% block title %}New AdresseRepere{% endblock %}

{% block body %}
    <h1>Create new AdresseRepere</h1>

    {{ include('adresse_repere/_form.html.twig') }}

    <a href="{{ path('app_adresse_repere_index') }}">back to list</a>
{% endblock %}
