{% extends 'base.html.twig' %}

{% block title %}New Famille{% endblock %}

{% block body %}
    <h1>Create new Famille</h1>

    {{ include('famille/_form.html.twig') }}

    <a href="{{ path('app_famille_index') }}">back to list</a>
{% endblock %}
