{% extends 'base.html.twig' %}

{% block title %}Zone de livraison{% endblock %}



    {% block stylesheets %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
              integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
              crossorigin=""/>
        <style type="text/css">

            #map{
                height:700px;
                width: 700px;
            }
        </style>
    {% endblock %}
{% block body %}
<body>
<div class="position-relative">
 <div data-controller="coordinates" data-target="map.placeholder" >
        <div id="map" class="w-50 p-3" >
            <!-- Ici s'affichera la carte -->
        </div>

    <div class="position-absolute top-0 start-50 ms-5 mt-4">
        <form>
            <div class="form-text">Cliquez sur la carte pour voir les coordonnées.</div>
            <div class="mb-3">
                <label for="latitude" class="form-label">Latitude</label>
                <input type="number" step="0.0000001" class="form-control">
            </div>
            <div class="mb-3">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="number" step="0.0000001" class="form-control" >
            </div>
            <div class="mb-3 form-check">
                <button type="button"> Adresse la plus proche </button>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="form7Example4" class="form-control" />
                <label class="form-label" for="form7Example4">Address</label>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>

</div>



{% endblock %}


{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <script type="text/javascript">
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 48.852969;
        var lon = 2.349903;
        var macarte = null;
        // Nous initialisons une liste de marqueurs
        var villes = {
            "Paris": { "lat": 48.852969, "lon": 2.349903 },
            "Brest": { "lat": 48.383, "lon": -4.500 },
            "Quimper": { "lat": 48.000, "lon": -4.100 },
            "Bayonne": { "lat": 43.500, "lon": -1.467 }
        };

        // Fonction d'initialisation de la carte

        function initMap() {
            var markers = [];
            var polymarker=[];
            var macarte = L.map('map').setView([51.505, -0.09], 13);
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
          // macarte = L.map('map').setView([lat, lon], 11);

            var markeraz = L.marker([51.5, -0.09]).addTo(macarte);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 5,
                maxZoom: 20
            }).addTo(macarte);
            // Nous ajoutons un marqueur
            {% for adresse_repere in adresse_reperes %}
                var marker = L.marker([{{ adresse_repere.latitude }},{{ adresse_repere.longitude }}]).addTo(macarte);
                markers.push(marker);
                polymarker.push([{{ adresse_repere.latitude }},{{ adresse_repere.longitude }}])
            {% else %}
            console.log("aucune adresse enregistrée");
            {% endfor %}
            //exemple trace polygone
            // var polygone = L.polygon(polymarker,{color:'red'});
            // polygone.addTo(macarte);
            //var group = new L.featureGroup(markers); // Nous créons le groupe des marqueurs pour adapter le zoom
           // macarte.fitBounds(group.getBounds().pad(0.5));
            var circle = L.circle([48.383, -4.500], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 500
            }).addTo(macarte);
            console.log("fin de la fonction init");
        }
        function onMapClick(e) {
            alert("You clicked the map at " + e.latlng);
        }
       // macarte.on('click', onMapClick);

        window.onload = function(){
            console.log("DOM chargé");
            initMap();
            console.log("map initialisé");

            macarte.on("click", function(e){
                var mark = new L.Marker([e.latlng.lat, e.latlng.lng]).addTo(macarte);
                console.log("click detected");
            });
        };
    </script>
{% endblock %}
