<section> 
 <ul class="menu">

      <li title="home"><a href="#" class="menu-button home">menu</a></li>
      
      <li title="search"><a href="#" class="search">search</a></li>
      <li title="pencil"><a href="#" class="pencil">pencil</a></li>
      <li title="about"><a href="#" class="active about">about</a></li>
      <li title="archive"><a href="#" class="archive">archive</a></li>
      <li title="contact"><a href="#" class="contact">contact</a></li>
    </ul>
    
    <ul class="menu-bar">
        <li><a href="#" class="menu-button">Menu</a></li>
        <li><a href="{{ path('app_famille_index') }}">Catalogue</a></li>
        <li><a href="#">Commandes</a></li>
        <li><a href="#">Infos entreprise</a></li>
        <li><a href="#">Agenda</a></li>
    </ul>
</section>