{% extends 'base.html.twig' %}

{% block title %}Edit TypeCaracteristique{% endblock %}

{% block body %}
    <h1>Edit TypeCaracteristique</h1>

    {{ include('type_caracteristique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_caracteristique_index') }}">back to list</a>

    {{ include('type_caracteristique/_delete_form.html.twig') }}
{% endblock %}
