body .famillezone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 150px 50;
  }
  
  body .famillezone .famillecard {
    position: relative;
    min-width: 150px;
    height: 300px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  body .famillezone .famillecard:nth-child(1) .box .content a {
    background: #2196f3;
  }
  
  body .famillezone .famillecard:nth-child(2) .box .content a {
    background: #e91e63;
  }
  
  body .famillezone .famillecard:nth-child(3) .box .content a {
    background: #23c186;
  }
  
  body .famillezone .famillecard .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }

  .familleimage a
  {
      width:50%;
      height:auto;
      border: double 2px;
  }

  
  body .famillezone .famillecard .box:hover {
    transform: translateY(-20px);
  }
  
  body .famillezone .famillecard .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  body .famillezone .famillecard .box .content {
    padding: 20px;
    text-align: center;
  }
  
  body .famillezone .famillecard .box .content h3 {
    font-size: 1rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin: 5px;

  }
  .btn-supprime {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .btn-supprime:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .btn-modifie {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .btn-modifie:hover {
    background-color: #008CBA;
    color: white;
  }


  /*
  body .famillezone .famillecard .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  body .famillezone .famillecard .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
  */