{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    <div class="p-3 mb-2 bg-info text-white">
        <p> Tout article est issu d'un produit. Vous devez selectionner un produit pour créer un article</p>
    </div>



    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">back to list</a>
{% endblock %}
