<form method="post" action="{{ path('app_valeur_caracteristique_delete', {'id': valeur_caracteristique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ valeur_caracteristique.id) }}">
    <button class="btn">Delete</button>
</form>
