{% extends 'base.html.twig' %}

{% block title %}New ValeurCaracteristique{% endblock %}

{% block body %}
    <h1>Create new ValeurCaracteristique</h1>

    {{ include('valeur_caracteristique/_form.html.twig') }}

    <a href="{{ path('app_valeur_caracteristique_index') }}">back to list</a>
{% endblock %}
